.TituloSections{
  border-bottom: var(--border-bottom);
  text-align: center;
}

.Page {
  display: none;
}

.Page.Active {
  display: block;
}

.Pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.PageButton {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--bg5);
  cursor: pointer;
}

.PageButton.Active {
  background-color: var(--bg2);
}
