.H1{
  text-align: center;
}

.Form{
  background: var(--bg2);
  padding: 25px;
  text-align: center;
  width: 20vw;
}

.Form label{
  text-align: start;
}

.Option{
  border-bottom: solid 1px white;
  margin: 15px auto 0 auto;
  cursor: pointer;
  max-width: max-content;
}