.Button1{
  min-width: 70px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  animation: Scalecenter 0.1s;
}

.Button1:hover{
  cursor: pointer;
  border-bottom: var(--border-bottom);
}

@keyframes scalecenter{ 
  0%{transform:scale(0.5)} 
  100%{transform:scale(1)} 
}

.Button1Right{
  position: absolute;
  right: 0;
}

.Button1Left{
  position: absolute;
  left: 0;
}

.Button1Selected{
  border-bottom: var(--border-bottom);
}

.Button1Selected:hover{
  border-top: var(--border-bottom);
  border-bottom: var(--border-bottom);
}